<div class="picture-display content">
    <div class="image-holder">
        <img loading="lazy" src="$picture_url$"/>
    </div>
    <div class="details">
        <h1 class="title">$title$</h1>
        <p class="details-title">Technical details:</p>
        <div class="technical-details">
            $if(camera)$<p class="camera">Camera: $camera$</p>$endif$
            $if(lens)$<p class="lens">Lens: $lens$</p>$endif$
            $if(film)$<p class="film">Film: $film$</p>$endif$
        </div>
        $if(description)$<div class="description">$description$</div>$endif$
    </div>
</div>